{% load static %}
{% load template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Shoeniverse | Staff Portal</title>
  <link href="{% static 'css/bootstrap5/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap5/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/standard.css' %}">
  <script src="{% static 'js/fontawesome5/fontawesome.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'Images/logo.png' %}" alt="" width="60" height="60" style="border-radius:50%"><span class=hidden style="display:none">minion Factory</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills">
          {% if request.user|has_group:"Delivery_staff_admin" %}
            <li class="nav-item ms-4 me-4">
              <a class="nav-link active Pending_Orders" aria-current="page" href="{% url 'staff:pending_orders' %}">Pending Orders</a>
            </li>
            <li class="nav-item ms-4 me-4">
              <a class="nav-link Pending_Refunds" href="{% url 'staff:pending_refunds' %}">Pending Refunds</a>
            </li>
          {% elif user.is_superuser %}
            <li class="nav-item ms-4 me-4">
              <a class="nav-link active Pending_Orders" aria-current="page" href="{% url 'staff:pending_orders' %}">Pending Orders</a>
            </li>
            <li class="nav-item ms-4 me-4">
              <a class="nav-link Pending_Refunds" href="{% url 'staff:pending_refunds' %}">Pending Refunds</a>
            </li>
          {%endif%}
          {% if request.user|has_group:"Preprosessing_staff_admin" or request.user.is_superuser %}
            <li class="nav-item ms-4 me-4">
              <a class="nav-link active Pending_Preprocessing" aria-current="page" href="{% url 'staff:pending_preprocessing' %}">Pending Preprocessings</a>
            </li>
          {%endif%}
          <li class="nav-item ms-4 me-4">
            <p class="nav-link">current user: {{user.username}}</p>
          </li>
          <li class="nav-item ms-4 me-4">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mt-5 col-sm-10 offset-sm-1">
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor%}
  </div>
  {% block content %}
  {% endblock %}
  <script src="{% static 'js/standard.js' %}"></script>
</body>
</html>
