.CheckoutPage{
  background-color: white;
  padding: 30px;
  box-sizing: border-box;
  width:95%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  color:black;
  border-radius: 15px;
}

.small_half{
  width:33.33%;
  margin-right: 8.33%;
  margin-right: 8.33%;
  float: left;
}
.big_half{
  width: 50%;
  margin: 0;
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
