{% load static %}
{% load template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Shoeniverse</title>
  <link href="{% static 'css/bootstrap5/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/bootstrap5/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/standard.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'Images/logo.png' %}">
  <script src="{% static 'js/fontawesome5/fontawesome.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'Images/logo.png' %}" alt="" width="60" height="60" style="border-radius:50%"><span class=hidden style="display:none">minion Factory</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-fill" role="navigation">
          <li class="nav-item ms-4 me-4">
            <a class="nav-link Home" aria-current="home" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item ms-4 me-4">
            <a class="nav-link AboutUs" aria-current="home" href="/#AboutUs">About Us</a>
          </li>
          <li class="nav-item ms-4 me-4">
            <a class="nav-link Shop" href="{% url 'ecommerce:items_list' %}">Shop</a>
          </li>
          {% if not user.is_authenticated %}
            <li class="nav-item ms-4 me-4">
              <a class="nav-link Login" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item ms-4 me-4">
              <a class="nav-link Register" href="{% url 'members:register' %}">Register</a>
            </li>
          {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My Profile
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'ecommerce:my_orders' %}">Past Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'members:edit_account' %}">Edit Account Details</a></li>
                <li><a class="dropdown-item" href="{% url 'members:change_password' %}">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><p class="dropdown-item" href="#">Username: {{user.username}}</p></li>
              </ul>
            </li>
            <li class="nav-item ms-4 me-4">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
          <ul class="nav .justify-content-end">
            <li class="nav-item"><a class="nav-link" href="{% url 'ecommerce:order_summary' %}"><i class="fa-solid fa-cart-plus fa-2xl" style="color:white !important;"></i> &nbsp;&nbsp;<span class="badge bg-danger"style="color:white"> {{request.user| cart_item_count}}</span></a></li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="mt-5 pt-5">
    {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor%}
  </div>
  <div class="col-sm-12 mt-5">
    {% block content %}
    {% endblock %}
  </div>
  <section class="Footer">
    <footer class="container-fluid bg-dark text-white text-center">
      <div class="social_footer pt-3">
        <a href="#" class="ms-5 me-5 fa-2xl"><i class="fa-brands fa-instagram" style="color:white !important"></i></a>
        <a href="#" class="ms-5 me-5 fa-2xl"><i class="fa-brands fa-facebook" style="color:white !important"></i></a>
        <a href="#" class="ms-5 me-5 fa-2xl"><i class="fa-brands fa-twitter" style="color:white !important"></i></a>
        <a href="#" class="ms-5 me-5 fa-2xl"><i class="fa-brands fa-linkedin" style="color:white !important"></i></a>
        <a href="#" class="ms-5 me-5 fa-2xl"><i class="fa-solid fa-envelope" style="color:white !important"></i></a>
      </div>
      <div class="Copyright mt-3 pb-3">
        <p>All Rights Reserved</p>
      </div>
    </footer>
  </section>
  <script src="{% static 'js/standard.js' %}"></script>
</body>
</html>
